html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #CDCDCD;
}

h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.hamburger-menu {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 40px 100px;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__logo > span {
    font-family: 'Arial';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.header__nav {
    display: flex;
    gap: 35px;
    align-items: center;
    font-family: 'Arial';
    font-size: 15px;
    color: #CDCDCD;
    line-height: 160%;
}

.header__nav > a:nth-child(1)::after {
    color: #FAFAFA;
    content: "";
    display: block;
    border: 1px solid #FBD38D;
    background: #F1CDB3;
    width: 100%;
}

.not-only {
    padding: 30px 40px 0;
}

.not-only__content__text {
    width: 39%;
    padding: 163px 0 243px;
}

h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 42px;
}

h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.not-only__content__text > p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    padding-bottom: 42px;
}

.not-only__content__img {
    background-image: url("./../images/not-only-dog.png");
    width: 58%;
    height: 728px;
}

.not-only__content {
    display: flex;
    justify-content: space-between;
}

button {
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.btn {
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.btn-a-link {
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929 !important;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    width: 261px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.btn-a-link:hover, .makeFriendLink:hover, .donation__text--card--number:hover {
    background-color: #FDDCC4;
    transition: 1s;
}

.makeFriendLink {
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929 !important;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    width: 207px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-a-link__a {
    color: #292929 !important;
}

.about {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.about__image {
    background-image: url("./../images/about-pets.png");
    width: 25%;
    background-repeat: no-repeat;
    background-size: contain;
}

.about__text__description {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.about__text {
    width: 36%;
}

.about__text > h3 {
    padding-top: 14px;
}

.about__text > p:nth-child(2) {
    padding: 24px 0;
}

.our-friends {
    background-color: #F6F6F6;
    text-align: center;
}

.our-friends__slider {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.our-friends__slider__card--button {
    background: #F1CDB3;
}

.our-friends__slider__card {
    background: #FAFAFA;
    border-radius: 9px;
    padding-bottom: 30px;
}

.our-friends__slider__cards > div:nth-of-type(1) > div {
    background-image: url("./../images/pets-katrine111.png");
    width: 270px;
    height: 270px;
}

.our-friends__slider__cards > div:nth-of-type(2) > div {
    background-image: url("./../images/pets-jennifer.png");
    width: 270px;
    height: 270px;
}

.our-friends__slider__cards > div:nth-of-type(3) > div {
    background-image: url("./../images/pets-woody.png");
    width: 270px;
    height: 270px;
}

.our-friends__slider__card--name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 30px 0;
}

.our-friends__slider__cards {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 90px;
    cursor: pointer;
}

.our-friends__slider__card--image:hover {
    cursor: pointer;
    filter: contrast(0.9);
    transition: 1s;
}

.our-friends__slider__card--button:hover {
    cursor: pointer;
    background: #FDDCC4;
    transition: 1s; 
}

.our-friends__slider__card:hover > .our-friends__slider__card--image {
    cursor: pointer;
    filter: contrast(0.9);
    transition: 1s;
}

.our-friends__slider__card:hover > .our-friends__slider__card--button {
    cursor: pointer;
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    transition: 1s; 
}

.our-friends__slider__card--button {
    background: none;
    border: 2px solid #F1CDB3;
}

.button-arrow {
    align-self: center;
    padding: 13px 19px 23px 16px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: none;
    width: 52px;
    height: 52px;
}

.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 60px;
}

.help-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 118px;
    row-gap: 55px;
    max-width: 1026px;
}

.help-items > div:nth-child(1) > div {
    background: url('./../images/icon-pet-food.png');
    width: 60px;
    height: 60px;
}

.help-items__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.help-items__item--name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.help-items > div:nth-child(2) > div {
    background: url('./../images/icon-transportation.png');
    width: 60px;
    height: 60px;
}

.help-items > div:nth-child(3) > div {
    background: url('./../images/icon-toys.png');
    width: 60px;
    height: 60px;
}

.help-items > div:nth-child(4) > div {
    background: url('./../images/icon-bowls-and-cups.png');
    width: 60px;
    height: 60px;
}

.help-items > div:nth-child(5) > div {
    background: url('./../images/icon-shampoos.png');
    width: 60px;
    height: 60px;
}

.help-items > div:nth-child(6) > div {
    background: url('./../images/icon-vitamins.png');
    width: 60px;
    height: 60px;
}

.help-items > div:nth-child(7) > div {
    background: url('./../images/icon-medicines.png');
    width: 60px;
    height: 60px;
}

.help-items > div:nth-child(8) > div {
    background: url('./../images/icon-collars-leashes.png');
    width: 60px;
    height: 60px;
}

.help-items > div:nth-child(9) > div {
    background: url('./../images/icon-sleeping-area.png');
    width: 60px;
    height: 60px;
}

.gray-wrapper {
    background: #F6F6F6;
}

.brown-container {
    background: url(./../images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
}

.donation {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 42px 19px !important;
}

.donation__image {
    background: url('./../images/donation-dog.png');
    width: 42%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 11px;
}

.donation__text {
    width: 32%;
    max-width: 380px;
}

.donation__text--title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__text--card--title {
    padding: 20px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__text--card--number--image {
    background: url('./../images/credit-card.png');
    width: 30px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: contain;
}

.donation__text--card--number {
    background: #F1CDB3;
    border-radius: 9px;
    padding: 10px 15px;
    gap: 15px;
    display: flex;
    justify-content: start;
    max-width: 319px;
}

.donation__text--card--number--numbers {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__text--card--description {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    padding-top: 20px;
}

.footer {
    padding: 40px 40px 0;
    display: flex;
    justify-content: space-between;
}

.footer__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__description {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__contacts {
    max-width: 279px;
    padding-top: 16px;
}

.footer__address {
    max-width: 303px;
    padding-top: 16px;
}

.footer__icon-email {
    background: url('./../images/icon-email.png');
    width: 40px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__icon-phone {
    background: url('./../images/icon-phone.png');
    width: 40px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__icon-metka {
    background: url('./../images/icon-marker2.png');
    width: 22px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__image-dog {
    background: url('./../images/footer-puppy.png');
    width: 300px;
    height: 310px;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: right; */
}

.footer__address__line {
    display: flex;
    gap: 20px;
    align-items: center;
}

.pd40 {
    padding: 40px 0;
}

.pd3432 {
    padding: 34px 0 32px;
}

.header__nav > a:not(.active):hover {
    color: #FAFAFA;
    cursor: pointer;
    transition: 1s;
}

.active {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FAFAFA;
}

.our-friends__slider__card--button:hover {
    cursor: pointer;
    background: #FDDCC4;
    transition: 1s;
}

.our-friends__slider__card--image:hover {
    cursor: pointer;
    filter: contrast(0.9);
    transition: 1s;
}

.our-friends__slider__card--button {
    background: none;
    border: 2px solid #F1CDB3;
}

.not-only__content__text > a:hover, 
.our-friends__slider ~ a:hover, 
.our-friends__slider > button:hover {
    background: #FDDCC4;
    transition: 1s;
}

.footer__description:hover {
    color: #FDDCC4;
    transition: 1s;
}

@media screen and (max-width: 769px) {
    .header {
        padding-bottom: 60px;
    }

    .not-only__content {
        flex-direction: column;
    }

    .not-only__content__text {
        align-self: center;
        padding: 0;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;
        align-items: center;
        color: #FFFFFF;
        width: 460px;
    }

    .not-only__content__img {
        align-self: end;
        background-size: contain;
        background-repeat: no-repeat;
        height: 593px;
        margin-top: 100px;
        width: 569px;
    }

    .not-only {
        padding: 30px 30px 0 !important;
    }

    .makeFriendLink {
        margin: 0 auto;
    }

    .about {
        flex-direction: column-reverse;
        align-items: center;
        gap: 80px;
    }

    .about__text {
        width: 430px;
    }

    .about__text > h3 {
        padding-top: 0;
    }

    .about__text > p:nth-child(2) {
        padding: 25px 0;
    }

    .about__image {
        background-image: url(./../images/about-pets.png);
        width: 300px;
        height: 408px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .our-friends__slider__cards {
        justify-content: row;
        column-gap: 40px;
        flex-wrap: nowrap;
    }

    .our-friends__slider__cards > div:nth-of-type(3) {
        display: none;
    }

    .container {
        padding: 80px 30px 100px;
    }

    .help-items {
        column-gap: 60px;
    }

    .help-items__item {
        width: 170px;
    }

    .donation {
        align-items: center;
        flex-direction: column-reverse;
        gap: 60px;
    }

    .donation__image {
        width: 505px;
        height: 261px;
        margin-top: 0px;
    }

    .donation__text {
        width: 380px;
    }

    .footer {
        padding: 30px 30px 0;
        flex-wrap: wrap;
        row-gap: 65px;
    }

    .footer__image-dog {
        margin: 0 auto;
    }
}

@media screen and (max-width: 720px) {
    .hamburger-menu {
        display: block;
    }

    .header__nav {
        display: none;
    }

    .not-only {
        padding: 30px 20px 0 !important;
    }

    .not-only__content__text {
        width: 100%;
    }

    .not-only__content__text > h2 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .not-only__content__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .not-only__content__text > p {
        width: 300px;
    }

    .not-only__content__img {
        height: 260px;
        width: 271px;
        margin: 60px auto 0;
        align-self: auto;
    }

    .about {
        gap: 42px;
    }

    .about__text {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify
    }

    .about__text > h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }

    .about__text > p:nth-child(2) {
        padding: 25px 0 22px;
    }

    .container {
        padding: 42px 10px;
    }

    .our-friends > h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        justify-content: center;
    }

    .our-friends__slider__cards > div:nth-of-type(2) {
        display: none;
    }

    .our-friends__slider__card {
        width: 250px;
    }

    .our-friends__slider {
        justify-content: center;
        flex-wrap: wrap;
        padding: 42px 0;
        column-gap: 80px;
        row-gap: 20px;
    }

    .our-friends__slider > button:nth-child(1) {
        order: 2;
    }

    .our-friends__slider > button:nth-child(3) {
        order: 3;
    }

    .help {
        gap: 42px;
        padding: 42px 15px;
    }

    .help > h3 {
        font-size: 25px;
    }

    .help-items__item {
        width: 130px;
    }

    .help-items {
        column-gap: 30px;
        row-gap: 30px;
        justify-content: center;
    }

    .help-items__item {
        gap: 20px;
    }

    .help-items__item > span {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }

    .donation__text--title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        justify-content: center;
    }

    .donation__image {
        width: 260px;
        height: 135.2px;
    }

    .donation__text {
        width: 100%;
    }

    .donation__text--card--title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        display: flex;
        align-items: center;
        color: #545454;
        letter-spacing: 0;
        justify-content: center;
    }

    .donation__text--card--number--numbers {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        color: #545454;
        gap: 0;
    }

    .donation {
        gap: 42px;
    }

    .donation__text--card--description {
        text-align: justify;
    }

    .footer {
        padding: 30px 10px 0;
        justify-content: center;
        row-gap: 40px;
    }

    .footer__contacts {
        padding: 0;
    }

    .footer__title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .footer__address__line {
        justify-content: center;
    }

    .footer__address {
        padding: 0;
    }

    .footer__address > p {
        width: 270px;
        display: flex;
        margin: 0 auto;
    }

    .footer__address > div:nth-child(3) {
        justify-content: start;
    }
}

@media screen and (max-width: 321px) {
    .hamburger-menu {
        display: block;
    }

    .header__nav {
        display: none;
    }

    .not-only {
        padding: 30px 20px 0 !important;
    }

    .not-only__content__text {
        width: 100%;
    }

    .not-only__content__text > h2 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .not-only__content__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .not-only__content__text > p {
        width: 300px;
    }

    .not-only__content__img {
        margin-top: 105px;
    }

    .not-only__content__img {
        height: 271px;
        width: 260px;
        margin-left: 40px;
        align-self: auto;
    }

    .about {
        gap: 42px;
    }

    .about__text {
        width: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify
    }

    .about__text > h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }

    .about__text > p:nth-child(2) {
        padding: 25px 0 22px;
    }

    .container {
        padding: 42px 10px;
    }

    .our-friends > h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        justify-content: center;
    }

    .our-friends__slider__cards > div:nth-of-type(2) {
        display: none;
    }

    .our-friends__slider {
        justify-content: center;
        flex-wrap: wrap;
        padding: 42px 0;
        column-gap: 80px;
        row-gap: 20px;
    }

    .our-friends__slider > button:nth-child(1) {
        order: 2;
    }

    .our-friends__slider > button:nth-child(3) {
        order: 3;
    }

    .help {
        gap: 42px;
        padding: 42px 15px;
    }

    .help > h3 {
        font-size: 25px;
    }

    .help-items__item {
        width: 130px;
    }

    .help-items {
        column-gap: 30px;
        row-gap: 30px;
        justify-content: start;
    }

    .help-items__item {
        gap: 20px;
    }

    .help-items__item > span {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }

    .donation__text--title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        justify-content: center;
    }

    .donation__image {
        width: 260px;
        height: 135.2px;
    }

    .donation__text {
        width: 100%;
    }

    .donation__text--card--title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        display: flex;
        align-items: center;
        color: #545454;
        letter-spacing: 0;
        justify-content: center;
    }

    .donation__text--card--number--numbers {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        color: #545454;
        gap: 0;
    }

    .donation {
        gap: 42px;
    }

    .donation__text--card--description {
        text-align: justify;
    }

    .footer {
        padding: 30px 10px 0;
        justify-content: center;
        row-gap: 40px;
    }

    .footer__contacts {
        padding: 0;
    }

    .footer__title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .footer__address__line {
        justify-content: center;
    }

    .footer__address {
        padding: 0;
    }

    .footer__address > p {
        width: 270px;
        display: flex;
        margin: 0 auto;
    }

    .footer__address > div:nth-child(3) {
        justify-content: start;
    }
}


/* burger menu */
/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #F1CDB3;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  /* контейнер меню */
.menu__box {
    display: block;
    /* position: fixed; */
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}

.hamburger-menu {
    margin-right: 10px;
}