html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #CDCDCD;
    cursor: auto;
}

h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding-top: 0;
}

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.header__logo > span {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
}

.header__nav {
    display: flex;
    gap: 35px;
    align-items: center;
    font-family: 'Arial';
    font-size: 15px;
    color: #CDCDCD;
}

.header__nav > a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
}

.header__nav > a:nth-child(2)::after {
    color: #FAFAFA;
    content: "";
    display: block;
    border: 1px solid #FBD38D;
    background: #F1CDB3;
    width: 100%;
}

.gray-wrapper {
    background: #F6F6F6;
}

.brown-container {
    background: url(./../images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
}

h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 42px;
}

h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.not-only__content__text > p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    padding-bottom: 42px;
}

.not-only__content__img {
    background-image: url("./../images/not-only-dog.png");
    width: 58%;
    height: 728px;
}

.not-only__content {
    display: flex;
    justify-content: space-between;
}

button {
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.btn {
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}


.footer {
    padding: 40px 40px 0;
    display: flex;
    justify-content: space-between;
}

.footer__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__description {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__contacts {
    max-width: 279px;
    padding-top: 16px;
}

.footer__address {
    max-width: 303px;
    padding-top: 16px;
}

.footer__icon-email {
    background: url('./../images/icon-email.png');
    width: 40px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__icon-phone {
    background: url('./../images/icon-phone.png');
    width: 40px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__icon-metka {
    background: url('./../images/icon-marker2.png');
    width: 22px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__image-dog {
    background: url('./../images/footer-puppy.png');
    width: 300px;
    height: 310px;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: right; */
}

.footer__address__line {
    display: flex;
    gap: 20px;
    align-items: center;
}

.pd40 {
    padding: 40px 0;
}

.pd3432 {
    padding: 34px 0 32px;
}

.header__nav > a:not(.active):hover {
    color: #292929;    
    cursor: pointer;
    transition: 1s;
}

.active {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FAFAFA;
}

.our-friends__slider__card--button:hover {
    cursor: pointer;
    transition: 1s;
}

/* .our-friends__slider__card--hidden {
    display: none;
}

.our-friends__slider__card--hidden:hover {
    display: block;
} */

.our-friends__slider__card--image:hover {
    cursor: pointer;
    background-image: url('./../images/icon-marker2.png');
}

.our-friends__slider__card--button {
    background: none;
    border: 2px solid #F1CDB3;
}

.not-only__content__text > a:hover, 
.our-friends__slider ~ a:hover, 
.our-friends__slider > button:hover {
    background: #FDDCC4;
    transition: 1s;
}

.footer__description:hover {
    color: #FDDCC4;
    transition: 1s;
}

.our-friends {
    background-color: #F6F6F6;
    text-align: center;
    padding: 80px 40px 100px;
}

.our-friends__slider {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.our-friends__slider__card--button {
    background: none;
}

.our-friends__slider__card {
    background: #FAFAFA;
    border-radius: 9px;
    padding-bottom: 30px;
}

.our-friends__slider__cards > div:nth-of-type(1) > div {
    background-image: url("./../images/pets-katrine111.png");
    width: 270px;
    height: 270px;
}

.our-friends__slider__cards > div:nth-of-type(2) > div {
    background-image: url("./../images/pets-jennifer.png");
    width: 270px;
    height: 270px;
}

.our-friends__slider__cards > div:nth-of-type(3) > div {
    background-image: url("./../images/pets-woody.png");
    width: 270px;
    height: 270px;
}

.our-friends__slider__cards > div:nth-of-type(4) > div {
    background-image: url("./../images/pets-sof4.png");
    width: 270px;
    height: 270px;
}

.our-friends__slider__cards > div:nth-of-type(5) > div {
    background-image: url("./../images/pets-timmy.png");
    width: 270px;
    height: 270px;
}

.our-friends__slider__cards > div:nth-of-type(6) > div {
    background-image: url("./../images/pets-charly.png");
    width: 270px;
    height: 270px;
}

.our-friends__slider__cards > div:nth-of-type(7) > div {
    background-image: url("./../images/pets-woody.png");
    width: 270px;
    height: 270px;
}

.our-friends__slider__cards > div:nth-of-type(8) > div {
    background-image: url("./../images/pets-freddie.png");
    width: 270px;
    height: 270px;
}

.our-friends__slider__cards > div:nth-of-type(9) > div {
    background-image: url("./../images/pets-fredkot.png");
    width: 270px;
    height: 270px;
}

.our-friends__slider__card--name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 30px 0;
}

.our-friends__slider__cards {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    cursor: pointer;
}

.our-friends__slider__card--image:hover {
    cursor: pointer;
    filter: contrast(0.9);
    transition: 1s;
}

.our-friends__slider__card--button:hover {
    cursor: pointer;
    background: #FDDCC4;
    transition: 1s; 
}

.our-friends__slider__card:hover > .our-friends__slider__card--image {
    cursor: pointer;
    filter: contrast(0.9);
    transition: 1s;
}

.our-friends__slider__card:hover > .our-friends__slider__card--button {
    cursor: pointer;
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    transition: 1s; 
}

.our-friends__slider__card--button {
    background: none;
    border: 2px solid #F1CDB3;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pagination__item {
    box-sizing: border-box;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    padding-top: 12px;
}

.left {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}

.current {
    background-color: #F1CDB3;
    font-size: 20px;
    padding-top: 10px;
}

.pagination > div:nth-child(4), .pagination > div:nth-child(5) {
    cursor: pointer;
}

.pagination > div:nth-child(4):hover, .pagination > div:nth-child(5):hover {
    background-color: #F1CDB3;
    transition: 1s;
}